@import "_bootstrap";
@import "_font-awesome";

//for getStarted page
a{
	margin-right:10%;
	margin-left:10%;
}

// Footer
footer {
  margin-top: 40px;
  border-top: solid 1px $gray-lighter;
  padding-top: 20px;
}