@import "_bootstrap";
@import "_font-awesome";

//for getStarted page
.option{
  margin-bottom: 30px;
	text-align: center;
  border: solid 1px $gray-lighter;

  &:hover{
    background-color: $brand-primary;
	  color: white;
  }

  img {
    width: 300px;
    margin: 5px;
  }

  .option-text {
    font-size: 18px;
  }
}

// Footer
footer {
  margin-top: 40px;
  padding-bottom: 20px;
  border-top: solid 1px $gray-lighter;
  padding-top: 20px;
}

// index
.jumbotron{
	margin-top:-20px;
	text-align:center;
	      
}
