@import "_bootstrap";
@import "_font-awesome";

//for getStarted page
.button{
	margin-right:10%;
	margin-left:10%;
	text-align:center;

  &:hover{
    background-color:blue;
	color:white;
  }
}

// Footer
footer {
  margin-top: 40px;
  border-top: solid 1px $gray-lighter;
  padding-top: 20px;
}

// index
.jumbotron{
	margin-top:-20px;
	text-align:center;
	      
}
