<footer>
  <div class="container">
  <div class="pull-left">
    Supported by: <br>
    <img src="{{ site.baseurl }}/images/wic-hacks-logo.png">
  </div>
    <div class="pull-right">
      <div class="social-icons">
        <a href="https://github.com/eknelson17/wic-hacks-2015">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="mailto:eknelson17@gmail.com?Subject=weSource">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</footer>
